/* block specific CSS goes here */

main .whoweare-container > div {
  max-width: unset;
}
  
main .whoweare-container {
  padding: 0;
  max-width: var(--max-with);
  margin: 0 auto;
}
main .whoweare-container .default-content-wrapper:first-child {
  background-attachment: fixed;
  background-position: center 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/whoweare_bg.png");
  padding-top: 62px;
  position: relative;
}
main  h6 {
  color: var(--primary);
  font-size: var(--body-font-size-m);
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  position: relative;
  padding-left: 156px;
}
main h6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 140px;
  height: 2px;
  background-color: var(--primary);
}

main .whoweare-container .default-content-wrapper p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 4px;
  padding: 0;
  font-size: var(--sub-title-font-size);
}
main .whoweare-container .default-content-wrapper p:last-child {
  margin-top: 16px;
  margin-bottom: 32px;
}
main .whoweare-container h1 {
  color: var(--primary);
  letter-spacing: -7.4px;
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;

}
main .whoweare-container h1::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -80px;
  left: 100%;
  transform: translateX(-50%);
  background: url(../../images/Bee__fly_large.gif) center center no-repeat;
  background-size: cover;
}
  
main .whoweare {
  position: relative;
  padding: 0;
  min-height: 416px;
  display: flex;
  max-width: 1132px;
  margin: 0 auto;
}
main .whoweare div:first-child picture img {
  width: 385px;
  height: 416px;
  position: absolute;
  left: 0;
  bottom: -57px;
}
main .whoweare div:nth-child(2) picture img{
  position: absolute;
  z-index: 2;
  width: 242px;
  height: 150px;
  left: 380px;
  bottom: 0;
}
main .whoweare div:nth-child(3) picture img{
  position: absolute;
  z-index: 1;
  width: 339px;
  height: 226px;
  left: 399px;
  top: 111px;
}
main .whoweare div:nth-child(4) picture img{
  position: absolute;
  z-index: 1;
  width: 220px;
  height: 264px;
  left: 573px;
  
}
main .whoweare div:nth-child(5) picture img{
  position: absolute;
  z-index: 1;
  width: 380px;
  height: 416px;
  left: 752px;
  top: 0;

}


